@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sync vs Async vs Parallel</h1>
    <hr />

    <img class="mb-sm-3" src="~/image/Statistic.JPG" />

    <div class="mb-sm-3">
        <button data-url="@Url.Action("SyncGet", "SyncVsAsync")" type="button" class="btn btn-outline-success opertation">Sync</button>
        <button data-url="@Url.Action("AsyncGet", "SyncVsAsync")" type="button" class="btn btn-outline-success opertation">Async</button>
        <button data-url="@Url.Action("ParallelGet", "SyncVsAsync")" type="button" class="btn btn-outline-success opertation">Parallel</button>
        <button data-url="@Url.Action("Test")" type="button" class="btn btn-outline-success opertation">Test</button>
    </div>
    <div class="holder" id="response"></div>
</div>
